<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Sign Up</title>
</head>

<body>

  <div id="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Secret page, you are in a session!</h2>
        And your name is <b><%=user.username%></b>
          <a href="/logout">Logout</a>
      </div>
    </div>
  </div>

</body>
</html>
